<!-- ##### Hero Area Start ##### -->
<div class="hero-area">
    <div class="container">
        <div class="row align-items-center">

        </div>
    </div>
</div>
<!-- ##### Hero Area End ##### -->

<!-- ##### Featured Post Area Start ##### -->
<div class="featured-post-area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-8">
                <div class="row">

                    <!-- Single Featured Post -->
                    <div class="col-12 col-lg-7">
                        <div class="single-blog-post featured-post">
                            <div class="post-thumb">
                                <a href="/post?id={{topOnePost.id}}"><img src="{{topOnePost.image_path}}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="/category?bid={{topOnePost.bigCate.bid}}"
                                    class="post-catagory">{{topOnePost.bigCate.name}}</a>
                                <a href="/post?id={{topOnePost.id}}" class="post-title">
                                    <h6>{{topOnePost.title}}</h6>
                                </a>
                                <p class="post-date"><span>{{topOnePost.date}}</span></p>
                                <div class="post-meta">
                                    <p class="post-excerp">{{topOnePost.summary}}</p>
                                    <!-- Post Like & Post Comment -->
                                    <div class="d-flex align-items-center">
                                        <span>View: {{topOnePost.view}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-5">
                        {{#each topPosts}}
                        <!-- Single Featured Post -->
                        <div class="single-blog-post featured-post-2">
                            <div class="post-thumb">
                                <a href="/post?id={{id}}"><img src="{{image_path}}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="/category?bid={{bigCate.bid}}" class="post-catagory">{{bigCate.name}}</a>
                                <div class="post-meta">
                                    <a href="/post?id={{id}}" class="post-title">
                                        <h6>{{title}}</h6>
                                    </a>
                                    <p class="post-date"><span>{{date}}</span></p>
                                    <!-- Post Like & Post Comment -->
                                    <div class="d-flex align-items-center">
                                        <span>View: {{view}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                {{#each bigCategories}}
                <!-- Single Featured Post -->
                <div class="single-blog-post small-featured-post d-flex">
                    <div class="post-thumb">
                        <a href="/post?id={{post.id}}"><img src="{{post.image_path}}" alt=""></a>
                    </div>
                    <div class="post-data">
                        <a href="/category?bid={{bid}}" class="post-catagory">{{name}}</a>
                        <div class="post-meta">
                            <a href="#" class="post-title">
                                <h6>{{post.title}}</h6>
                            </a>
                            <p class="post-date">{{post.date}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<!-- ##### Featured Post Area End ##### -->

<!-- ##### Popular News Area Start ##### -->
<div class="popular-news-area section-padding-80-50">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="section-heading">
                    <h6>Newest</h6>
                </div>

                <div class="row">
                    {{#each newPosts}}
                    <!-- Single Post -->
                    <div class="col-12 col-md-6">
                        <div class="single-blog-post style-3">
                            <div class="post-thumb">
                                <a href="/post?id={{id}}"><img src="{{image_path}}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="/category?bid={{bid}}" class="post-catagory">{{bigCate.name}}</a>
                                <a href="/post?id={{id}}" class="post-title">
                                    <h6>{{title}}</h6>
                                </a>
                                <p class="post-date"><span>{{date}}</span></p>
                                <div class="post-meta d-flex align-items-center">
                                    <span>View: {{view}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="col-12 col-lg-4">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="section-heading">
                    <h6>Popular</h6>
                </div>

                <div class="row">
                    {{#each popularPosts}}
                    <!-- Single Post -->
                    <div class="col-12 col-md-6">
                        <div class="single-blog-post style-3">
                            <div class="post-thumb">
                                <a href="/post?id={{id}}"><img src="{{image_path}}" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="/category?bid={{bid}}" class="post-catagory">{{bigCate.name}}</a>
                                <a href="/post?id={{id}}" class="post-title">
                                    <h6>{{title}}</h6>
                                </a>
                                <p class="post-date"><span>{{date}}</span></p>
                                <div class="post-meta d-flex align-items-center">
                                    <span>View: {{view}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="col-12 col-lg-4">
            </div>
        </div>
    </div>
</div>
<!-- ##### Popular News Area End ##### -->

<!-- ##### Footer Add Area Start ##### -->
<div class="footer-add-area">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<!-- ##### Footer Add Area End ##### -->