<!-- ##### Hero Area Start ##### -->
<div class="hero-area">
    <div class="container">
    </div>
</div>
<!-- ##### Hero Area End ##### -->

<!-- ##### Blog Area Start ##### -->
<div class="blog-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">

                    <!-- Single Featured Post -->
                    <div class="single-blog-post featured-post single-post">
                        <div class="post-thumb">
                            <a href="#"><img src="{{post.image_path}}" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="#" class="post-catagory">{{post.bigCate.name}}</a>
                            <a href="#" class="post-title">
                                <h6>{{post.title}}</h6>
                            </a>
                            <p class="post-date">
                                <span>{{postDate}}</span>
                            </p>
                            <div class="post-meta">
                                <h4>{{post.summary}}</h4>
                            </div>
                            <div class="post-meta">
                                {{{post.content}}}
                                {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu metus sit amet odio sodales placerat. Sed varius leo ac leo fermentum, eu cursus nunc maximus. Integer convallis nisi nibh, et ornare neque ullamcorper ac. Nam id congue lectus, a venenatis massa. Maecenas justo libero, vulputate vel nunc id, blandit feugiat sem.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur, purus imperdiet volutpat tincidunt, eros sem mollis quam, ut placerat urna neque at massa. Proin vitae pulvinar justo. Donec vel placerat enim, at ultricies risus. In posuere luctus sem, ac dapibus felis semper quis. Integer ex ante, semper at velit nec, ultrices aliquet diam. Donec gravida non metus blandit facilisis. Cras tincidunt, lorem aliquam molestie eleifend, libero dui volutpat dui, nec sodales massa libero ut metus. Mauris pretium elit ut dapibus consequat. Nam ut lorem nec sem dignissim gravida. Duis fringilla, augue eget lacinia tincidunt, neque leo maximus sem, sed tristique enim orci id quam.</p>
                                    <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel dolor. Nulla facilisi. Sed pellentesque lectus et accumsan aliquam. Fusce lobortis cursus quam, id mattis sapien. Aliquam erat volutpat. Aliquam placerat, est quis sagittis tincidunt, ipsum eros posuere mi, ut finibus quam sem eget ex. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec commodo quis enim ac auctor. Ut et mollis felis, sit amet ultricies est. Suspendisse sed faucibus tortor.</p>
                                    <a href="#" class="related--post">Related: Facebook announces changes to combat election meddling</a>
                                    <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel dolor. Nulla facilisi. Sed pellentesque lectus et accu msan aliquam. Fusce lobortis cursus quam, id mattis sapien. Aliquam erat volutpat. Aliquam placerat, est quis sagi ttis tincidunt, ipsum eros posuere mi, ut finibus quam sem eget ex. Interdum et malesuada fames ac ante ipsum pr imis in faucibus. Donec commodo quis enim ac auctor. Ut et mollis felis, sit amet ultricies est. Suspendisse sed faucibus tortor. </p>
                                     --}}
                                <div class="newspaper-post-like d-flex align-items-center justify-content-between">
                                    <!-- Tags -->
                                    <div class="newspaper-tags d-flex">
                                        <span>Tags:</span>
                                        <ul class="d-flex">
                                            {{#each tags}}
                                            <li><a href="/tag?id={{id}}">{{name}},</a></li>
                                            {{!-- <li><a href="#">politics,</a></li>
                                            <li><a href="#">stock market</a></li> --}}
                                            {{/each}}
                                        </ul>
                                    </div>

                                    <!-- Post Like & Post Comment -->
                                    <div class="d-flex align-items-center post-like--comments">
                                        <span>Views: {{post.view}}</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section-heading">
                        <h6>Related</h6>
                    </div>

                    <div class="row">
                        {{#each relatedPosts}}
                        <!-- Single Post -->
                        <div class="col-12 col-md-6">
                            <div class="single-blog-post style-3 mb-80">
                                <div class="post-thumb">
                                    <a href="/post?id={{id}}"><img src="{{image_path}}" alt=""></a>
                                </div>
                                <div class="post-data">
                                    <a href="#" class="post-catagory">{{bigCate.name}}</a>
                                    <a href="/post?id={{id}}" class="post-title">
                                        <h6>{{title}}</h6>
                                    </a>
                                    <div class="post-meta d-flex align-items-center">
                                        <span>views: {{view}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{!-- <div class="col-12 col-md-6">
                                <div class="single-blog-post style-3 mb-80">
                                    <div class="post-thumb">
                                        <a href="#"><img src="img/bg-img/12.jpg" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="#" class="post-catagory">Finance</a>
                                        <a href="#" class="post-title">
                                            <h6>Dolor sit amet, consectetur adipiscing elit. Nam eu metus sit amet odio sodales placer. Sed varius leo ac...</h6>
                                        </a>
                                        <div class="post-meta d-flex align-items-center">
                                            <a href="#" class="post-like"><img src="img/core-img/like.png" alt=""> <span>392</span></a>
                                            <a href="#" class="post-comment"><img src="img/core-img/chat.png" alt=""> <span>10</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div> --}}
                    </div>

                    <!-- Comment Area Start -->
                    <div class="comment_area clearfix">
                        <h5 class="title">Comments</h5>

                        <ol>
                            <!-- Single Comment Area -->
                            {{#each comments}}
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a href="#" class="post-author">{{user_name}}</a>
                                        <a href="#" class="post-date">{{date}}</a>
                                        <p>{{comment}}</p>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                            {{!-- <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a href="#" class="post-author">Christian Williams</a>
                                        <a href="#" class="post-date">April 15, 2018</a>
                                        <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel dolor.
                                            Nulla facilisi. Sed pellen tesque lectus et accu msan aliquam. Fusce
                                            lobortis cursus quam, id mattis sapien.</p>
                                    </div>
                                </div>
                            </li> --}}
                        </ol>
                    </div>
                    {{#if isLogin}}
                    <div class="post-a-comment-area section-padding-80-0">
                        <h4>Leave a comment</h4>

                        <!-- Reply Form -->
                        <div class="contact-form-area">
                            <form action="/comment" method="post">
                                <input type="hidden" name="post_id" value="{{post.id}}">
                                <div class="row">
                                    <div class="col-12">
                                        <textarea name="comment" class="form-control" id="message" cols="30" rows="10"
                                            placeholder="Message"></textarea>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button class="btn newspaper-btn mt-30 w-100" type="submit">Submit
                                            Comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->