<div class="card">
    <div class="card-header">
        <h3 class="card-title">Success Post</h3>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <div class="card card-primary">
                <form role="form" id="quickForm" novalidate="novalidate" method="post" action="">
                    <div>
                        <div>
                            <h1 style="text-align: center;">{{post.title}}</h1>
                        </div>
                        <br>
                        <div>
                            <h2 style="text-align: center;">{{post.summary}}</h2>
                        </div>
                        <br>
                        <div>
                            <p>{{{post.content}}}</p>
                        </div>
                        <br>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group">
                            <div class="form-group">
                                <label>Date:</label>
                                <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input"
                                        data-target="#reservationdate" name="date">
                                    <div class="input-group-append" data-target="#reservationdate"
                                        data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Category</div>
                                </div>
                                <select class="form-control select2 select2-danger select2-hidden-accessible"
                                    data-dropdown-css-class="select2-danger" style="width: 100%;" data-select2-id="12"
                                    tabindex="-1" aria-hidden="true" name="cateID">
                                    {{#each bigCategories}}
                                    {{#each smallCategories}}
                                    {{#if selected}}
                                    <option selected value="{{bid}}-{{id}}" data-select2-id="14">{{../bigName}} -
                                        {{name}}</option>
                                    {{else}}
                                    <option value="{{bid}}-{{id}}" data-select2-id="14">
                                        {{../bigName}} - {{name}}</option>
                                    {{/if}}
                                    {{/each}}
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>